<div id="efp-leg-div" style="display: none; height: 0;">
    {% if efp_legend %}
        <p>Select normalization method</p>
        <div class="efp-mode-rb">
            {% for norm in norm_methods %}
                {% if norm == 'log2_tmm' %}
                    <input type="radio" id=efp-{{ norm }} name="efp-mode-rb" value={{ norm }}>
                {% else %}
                    <input type="radio" id=efp-{{ norm }} name="efp-mode-rb" value={{ norm }} checked>
                {% endif %}
                <label for=efp-{{ norm }}>{{ norm }}</label>
            {% endfor %}
        </div>
        <div class="chart" id="efp-leg-plot-div">
            <script>
                let efp_leg = {{ efp_legend | safe }};
                let layout = {width: 0.2 * getWindowSize().width, height: 0.55 * getWindowSize().height};
                Plotly.plot('efp-leg-plot-div', efp_leg, layout);

                const leg_div = document.getElementById('efp-leg-plot-div');

                const efp_interval = setInterval(() => {
                    layout = {width: 0.2 * getWindowSize().width, height: 0.55 * getWindowSize().height};
                    Plotly.relayout(leg_div, layout);

                    clearInterval(efp_interval);
                });

                window.addEventListener('resize', function () {
                    layout = {width: 0.2 * getWindowSize().width, height: 0.55 * getWindowSize().height};
                    Plotly.relayout(leg_div, layout);
                }, true);
                efp_hover();
            </script>
        </div>
    {% endif %}
</div>
