<div id="interaction-legend-div" style="visibility: hidden; height: 0">
    {% if interaction_id[0] != '' %}
        Protein-Protein interaction legend

        <br><br>Known Interactions:
        <div class="row column">
            <span class="legendColor" style="background-color: rgb(0, 200, 200);">&nbsp;</span>
            <span class="legendlabel">From curated databases</span>
        </div><div class="row column">
            <span class="legendColor" style="background-color: rgb(200, 0, 200);">&nbsp;</span>
            <span class="legendlabel">Experimentally determined</span>
        </div>

        <br><br>Predicted Interactions:
        <div class="row column">
            <span class="legendColor" style="background-color: rgb(0, 180, 0);">&nbsp;</span>
            <span class="legendlabel">Gene neighbourhood</span>
        </div>
        <div class="row column">
            <span class="legendColor" style="background-color: rgb(255, 0, 0);">&nbsp;</span>
            <span class="legendlabel">Gene fusions</span>
        </div>
        <div class="row column">
            <span class="legendColor" style="background-color: rgb(0, 0, 255);">&nbsp;</span>
            <span class="legendlabel">Gene co-occurrence</span>
        </div>

        <br><br>Others:
        <div class="row column">
            <span class="legendColor" style="background-color: rgb(170, 200, 0);">&nbsp;</span>
            <span class="legendlabel">Textmining</span>
        </div>
        <div class="row column">
            <span class="legendColor" style="background-color: rgb(30, 30, 30);">&nbsp;</span>
            <span class="legendlabel">Co-expression</span>
        </div>
        <div class="row column">
            <span class="legendColor" style="background-color: rgb(200, 200, 200);">&nbsp;</span>
            <span class="legendlabel">Protein homology</span>
        </div>
    {% endif %}
</div>