<div id="interactions-div">
    {% if interaction_id is not none %}
        <div id="stringEmbedded" style="padding-top: 10%"></div>
        <div id="loading-string-div" style="display: none">
            <img id="img_loading" src="{{ url_for('static', filename='gif/dna_loading.gif')}}" alt="" style="scale: 35%; height: 40%; width: 50%">
        </div>
        <script type="text/javascript">
            string_API_request("{{ interaction_id[0].split('.')[1].replace(';', '') | safe }}");

            $(document).ready(function (){
                const string_div = document.getElementById('stringEmbedded');

                const interval = setInterval(() => {
                    if (string_div.innerHTML !== ''){
                        $('#loading-string-div').hide();

                        const logo = document.getElementById('svg_string_logo');
                        if (logo != null) logo.parentNode.removeChild(logo);

                        clearInterval(interval);
                    }
                });
            })
        </script>
    {% else %}
        <br>
        <br>
        <h5 style="align-items: center">No protein-protein interaction data found for this gene</h5>
    {% endif %}
</div>