<div id="af-container" class="mol-container">
    {% if mol is none %}
        <br><br>
        <h5 style="align-items: center">Not molecule prediction found for this gene</h5>
    {% endif %}
</div>
<div id="pae-cont" class="pae-container">
    <div class="chart" id="pae-div" style="display: block; height: 0">
        {% if mol is not none %}
            <script>
                let pae_gr = {{ pae | safe }};
                layout = {width: 0.25 * getWindowSize().width, height: 0.4 * getWindowSize().height};
                Plotly.plot('pae-div', pae_gr, layout);

                const pae_div = document.getElementById('pae-div');

                const pae_interval = setInterval(() => {
                    layout = {width: 0.25 * getWindowSize().width, height: 0.4 * getWindowSize().height};
                    Plotly.relayout(pae_div, layout);

                    clearInterval(pae_interval);
                });

                window.addEventListener('resize', function () {
                    try {
                        layout = {width: 0.25 * getWindowSize().width, height: 0.4 * getWindowSize().height};
                        Plotly.relayout(pae_div, layout);
                    } catch (e) {}
                }, true);
            </script>
        {% endif %}
    </div>
    {% if mol is not none %}
        <div>
            <br>
            <p>
                The contour at position (x, y) indicates AlphaFold's expected position
                at residue x, when the predicted and true structures are aligned on
                residue y.
            </p>
            <p>Usefull for assessing inter-domain accuracy.</p>
            <p>Drag the graph to select domain, double-clik to unselect it.</p>
        </div>
    {% endif %}
</div>
<script type="text/javascript">
    {% if mol is not none %}
        display_molecule({{ mol|tojson }})
    {% endif %}
</script>