<div id="taxonomy-div">
    {% if is_taxonomy %}
        <dl>
            {% for key, val in taxonomy.taxonomy.iteritems() %}
                {% if val[0] != ''%}
                    {% if key != 'STRING' %}
                        <dt>{{ key }}: </dt>
                        <dd>{{ val[0] }}</dd>
                        <br>
                    {% endif %}
                {% elif key == 'Gene Names (ORF)' %}
                    <dt>{{ key }}: </dt>
                    <dd>{{ gene_name_v5 }}</dd>
                    <br>
                {% endif %}
            {% endfor %}
        </dl>
    {% else %}
        <br>
        <br>
        <h5 style="align-items: center">No taxonomy data found for this gene</h5>
    {% endif %}
</div>