<div class="tab-block">
    <div id="window-rb-div" class="window-rb" onchange="exp_visibility()">
        <input type="radio" id='taxonomy' name="window-rb" value='taxonomy' checked>
        <label for='taxonomy'>Taxonomy</label>
        <div class="tab-content">{% include 'windows/taxonomy-div.html' %}</div>

        <input type="radio" id='boxplot' name="window-rb" value='boxplot'>
        <label for='boxplot'>Experiments</label>
        <div class="tab-content">{% include 'windows/boxplot-div.html' %}</div>

        <input type="radio" id='eFP' name="window-rb" value='eFP'>
        <label for='eFP'>eFP</label>
        <div class="tab-content">{% include 'windows/eFP-div.html' %}</div>

        <input type="radio" id='molecule' name="window-rb" value='molecule'>
        <label for='molecule'>Molecule</label>
        <div class="tab-content">{% include 'windows/molecule-div.html' %}</div>

        <input type="radio" id='interactions' name="window-rb" value='interactions'>
        <label for='interactions'>Interactions</label>
        <div class="tab-content">{% include 'windows/interactions-div.html' %}</div>
    </div>

    <script>
        const labels = $('.window-rb label').filter(function () {
            if (this.style.display !== 'none'){
                this.style.width = "" + num2str(0.132 * getWindowSize().width) + "px";
                return this
            }
        });

        window.addEventListener('resize', function () {
            for (let i = 0; i < labels.length; i++) labels[i].style.width = "" + num2str(0.132 * getWindowSize().width) + "px";
         }, true);
    </script>
</div>
