{% extends 'description_card.html' %}
{% block control_card %}
    <div id="control-card">
        <form action="/index" method="post" name="gene-form">
            <label for="gene-in">Enter gene name</label>
                {{ gene_form.gene_name() }}
            <br>
            <input id="submit-gene-btt" type="submit" value="Search" style="width: 100%">
        </form>
        <div id="gene-found">{{ gene_found }}</div>
        <br>

        {% if experiemnt_div %}
            <div id="experiment-div">
                <label for="experiments-dd">Select experiments</label>
                <select id="experiments-dd" style="width: 100%; height: 205px" multiple>
                    {% for experiment in experiments %}
                        {% if experiment == 'SRP362799' %}
                            <option value={{ experiment }} selected>{{ experiment }}</option>
                        {% else %}
                            <option value={{ experiment }}>{{ experiment }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <br>

                <br>
                <p>Select normalization method</p>
                <div class="mode-rb">
                    {% for norm in norm_methods %}
                    {% if norm == 'log2_tmm' %}
                        <input type="radio" id={{ norm }} name="mode-rb" value={{ norm }} checked>
                    {% else %}
                        <input type="radio" id={{ norm }} name="mode-rb" value={{ norm }}>
                    {% endif %}
                    <label for={{ norm }}>{{ norm }}</label>
                {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}