{% extends 'description_card.html' %}
{% block control_card %}
    <div id="control-card">
        <form action="/index" method="post" name="gene-form">
            <label for="gene-in" style="display: table">Enter gene name</label>
                {{ gene_form.gene_name() }}
            <script>
                $(function() {
                    $.ajax({
                        url: '/search'
                    }).done(function (data) {
                        $('#gene-in').autocomplete({
                            source: data,
                            minLength: 2
                        });
                    });
                });
            </script>
            <input id="submit-gene-btt" type="submit" value="Search" style="display: table; width: 100%" onclick="$('#loading').show();">
        </form>
        {% if gene_name != '' %}
            <div id="gene-found">{{ gene_found + ': ' + gene_name }}</div>
        {% endif %}
        <div id="loading" style="display: none">
            <img id="img_loading" src="{{ url_for('static', filename='gif/dna_loading.gif')}}" alt="" style="height: 40%; width: 50%">
            <label for="img_loading" style="margin: 0 auto; display: table">Loading gene...</label>
        </div>
        <br>

        {% include 'windows/experiment-div.html' %}
        {% include 'windows/molecule-legend-div.html' %}
        {% include 'windows/eFP-legend-div.html' %}
        {% include 'windows/interaction-legend-div.html' %}

    </div>
{% endblock %}