{% extends 'index.html' %}
{% block description_card %}
    <div id="description-card">
        <a href=""><h5>MtView</h5></a>
        <h3><i>Medicago truncatula</i></h3>
        <div id="intro">
            Bioinformatics approach for Transcriptomics: Integration of gene expression data based on RNA-seq with tissue localization.
        </div>
        <div id="report-div" style="font-style: italic">
{#            <a href ="{{ url_for('static', filename='files/report.pdf')}}" target="_blank">#}
                Paper (TBE)
{#            </a>#}
        </div>
        <hr><br>
    </div>
{% endblock %}