<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='assets/base.css') }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='assets/mtview.css') }}">
    <link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/themes/ui-lightness/jquery-ui.css" rel="stylesheet" type="text/css" />

    <script src="https://3Dmol.csb.pitt.edu/build/3Dmol-min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.js"></script>

    <script src="{{ url_for('static', filename='js/boxplot.js') }}"></script>
    <script src="{{ url_for('static', filename='js/efp.js') }}"></script>
    <script src="{{ url_for('static', filename='js/efp_hoverable.js') }}"></script>
    <script src="{{ url_for('static', filename='js/experiment_opts.js') }}"></script>
    <script src="{{ url_for('static', filename='js/molecule_viewer.js')}}"></script>
    <script src="{{ url_for('static', filename='js/molecule_pae.js')}}"></script>

    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <div id="app-container">
        {# Left column #}
        <div id="left-column" class="three columns">
            {% block description_card %} {% endblock %}
            {% block control_card %} {% endblock %}
        </div>

        {# Right column #}
        {% if right_col %}
            <div id="right-column" class="nine columns">
                {# Window controller #}
                <div id="window-controller">
                    <b>Tools</b>
                    <hr>
                    {% include 'analysis_card.html' %}
                </div>
            </div>
        {% endif %}
    </div>
</body>
</html>