<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='assets/base.css') }}">
    <link rel="stylesheet" type= "text/css" href="{{ url_for('static', filename='assets/mtview.css') }}">

    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <div id="app-container">
        {# Left column #}
        <div id="left-column" class="three columns">
            {% block description_card %} {% endblock %}
            {% block control_card %} {% endblock %}
        </div>

        {# Right column #}
        {% if right_col %}
            <div id="right-column" class="nine columns">
                {# Window controller #}
                <div id="window-controller">
                    <b>Window</b>
                    <hr>
                    <div class="window-rb">
                        {% for key, val in analysis_tools.items() %}
                            {% if val == 'taxonomy' %}
                                <input type="radio" id={{ val }} name="window-rb" value={{ val }} checked="checked">
                            {% else %}
                                <input type="radio" id={{ val }} name="window-rb" value={{ val }}>
                            {% endif %}
                            <label for={{ val }}>{{ key }}</label><br>
                            <div class="tab-content"></div>
                        {% endfor %}
                    </div>
                </div>

                {# Analysis windows #}
                <div id="windows">
                    {% block analysis_card %} {% endblock %}
                </div>
            </div>
        {% endif %}
    </div>
</body>
</html>